<div class="content">
  <nz-page-header class="page-header" nzBackIcon [nzGhost]="false">
    <nz-page-header-title>
      <nz-space class="wrap">
        <nz-select
          *nzSpaceItem
          class="select"
          nzPlaceHolder="Choose Dashboard"
          [nzLoading]="loadingDashboards"
          [(ngModel)]="selectedDashboard"
        >
          <nz-option-group nzLabel="Dashboards">
            <ng-container *ngFor="let item of dashboardList$ | async">
              <nz-option [nzValue]="item" [nzLabel]="item.name"></nz-option>
            </ng-container>
          </nz-option-group>
        </nz-select>
        <button *nzSpaceItem nz-button nzType="default" disabled>
          <i nz-icon nzType="edit"></i>
        </button>
        <button *nzSpaceItem nz-button nzType="default" disabled>
          <i nz-icon nzType="save"></i>
        </button>
      </nz-space>
    </nz-page-header-title>
    <nz-page-header-extra>
      <nz-space class="wrap">
        <nz-range-picker *nzSpaceItem [(ngModel)]="dateRange"></nz-range-picker>
        <button *nzSpaceItem nz-button nzType="primary" disabled>
          Paste Widget
        </button>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          [disabled]="!selectedDashboard"
          (click)="isWidgetsModalVisible = true"
        >
          Add Widget
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="inner-content main-content grid-content">
    <nz-list-empty *ngIf="isDashboardEmpty"></nz-list-empty>
    <div class="grid-stack">
      <ng-container #dashboardContainer></ng-container>
    </div>
  </div>
</div>

<nz-modal
  nzTitle="Widgets"
  [nzFooter]="null"
  (nzOnCancel)="dismissAddWidget()"
  [(nzVisible)]="isWidgetsModalVisible"
>
  <ng-container *nzModalContent>
    <nz-list [nzLoading]="loadingWidgets">
      <ng-container *ngIf="widgetList$ | async as widgetList">
        <nz-list-item *ngFor="let item of widgetList">
          <nz-list-item-meta
            [nzAvatar]="widgetIcon"
            [nzDescription]="item.description"
          >
            <nz-list-item-meta-title>
              <a [routerLink]="['/widgets', item.id]">{{ item.name }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="addWidget(item)">add</a>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
        <nz-list-empty *ngIf="widgetList.length === 0"></nz-list-empty>
      </ng-container>
    </nz-list>
  </ng-container>
</nz-modal>

<ng-template #widgetIcon>
  <nz-avatar [nzSize]="44" nzIcon="pie-chart"></nz-avatar>
</ng-template>
