<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="192px"
    nzBreakpoint="md"
    [nzTrigger]="null"
    [nzCollapsedWidth]="80"
    [(nzCollapsed)]="isCollapsed"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Custom Dashboard</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        nz-menu-item
        routerLink="/dashboards"
        [nzSelected]="currentPath === 'dashboards'"
      >
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboards</span>
      </li>
      <li
        nz-menu-item
        routerLink="/widgets"
        [nzSelected]="currentPath === 'widgets'"
      >
        <i nz-icon nzType="pie-chart"></i>
        <span>Widgets</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
