@import "~gridstack/dist/gridstack.min.css";

.widget-card .ant-card-extra {
  width: 100%;
  margin-left: 0;
  padding: 8px 0;
}

.ant-card-body {
  height: calc(100% - 48px);
  overflow: auto;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.inner-content {
  padding: 12px;
  margin: 6px 6px 0;
  background: #fff;

  &:last-child {
    margin-bottom: 6px;
  }
}

.main-content {
  flex: 1;
}

.page-header {
  margin: 6px 6px 0;
}

.select {
  width: 200px;
}

.wrap {
  flex-wrap: wrap;
}
